<div class="flex justify-center items-center h-screen md:max-w-[424px] mx-auto">
  <form class="p-6 md:p-10 bg-black w-full rounded-lg">
    <div class="flex gap-4 mb-10 text-white text-lg font-medium">
      <a>Registration</a>
      <a>Log In</a>
    </div>
    <ul class="flex flex-col gap-4 mb-6">
      <li><input type="text" class="form-input w-full" placeholder="Enter your name"></li>
      <li><input type="text" class="form-input w-full" placeholder="Enter your email"></li>
      <li><input type="text" class="form-input w-full" placeholder="Create a password"></li>
    </ul>
    <button class="btn w-full bg-green text-black py-4">
      Register Now
    </button>
  </form>
</div>