<div class="mx-auto flex h-screen items-center justify-center md:max-w-[424px]">
  <form
    class="w-full rounded-lg bg-primary-black p-6 md:p-10"
    [formGroup]="authForm"
  >
    <div class="mb-10 flex gap-4 text-lg font-medium text-white">
      <a routerLink="/auth/registration" [class.opacity-40]="!isRegistrationPage">
        Registration
      </a>
      <a routerLink="/auth/login" [class.opacity-40]="isRegistrationPage">Log In</a>
    </div>
    <ul class="mb-6 flex flex-col gap-4">
      @if (isRegistrationPage) {
        <li>
          <tp-input placeholder="Enter your name" [type]="InputType.Text" [control]="authForm.controls['name'] | getFormControl"></tp-input>
        </li>
      }
      <li>
        <tp-input placeholder="Enter your email" [type]="InputType.Email" [control]="authForm.controls['email'] | getFormControl"></tp-input>
      </li>
      <li>
        <tp-input placeholder="Create a password" [type]="InputType.Password" [control]="authForm.controls['password'] | getFormControl"></tp-input>
      </li>
    </ul>
    <tp-button
      class="w-full"
      [color]="ButtonColor.Secondary"
      [type]="ButtonType.Submit"
      [disabled]="authForm.invalid"
      (btnClick)="onSubmit()"
    >
      {{ isRegistrationPage ? 'Register Now' : 'Log In Now' }}
    </tp-button>
  </form>
</div>
