<button
  class="w-full cursor-pointer rounded-lg py-4 text-sm font-medium tracking-[-0.02em] transition-colors disabled:bg-disabled-drk disabled:text-white disabled:hover:bg-disabled"
  [ngClass]="{
    'bg-primary-black hover:bg-secondary-black': color === ButtonColor.Primary,
    'bg-green text-black': color === ButtonColor.Secondary,
    'bg-transparent text-primary-black': color === ButtonColor.Transparent
  }"
  [class.hover:bg-green-drk]="color === ButtonColor.Secondary || color === ButtonColor.Transparent"
  [type]="type"
  [disabled]="disabled"
  [routerLink]="link"
  (click)="btnClick.emit($event)"
>
  <ng-content></ng-content>
</button>
