<div
  class="mx-auto flex min-h-screen max-w-[480px] flex-col items-center justify-center"
>
  <div class="mb-6 flex flex-col">
    <img class="m-auto mb-4 w-32 md:mb-6 md:w-40" src="./assets/welcome.svg" />
    <div class="flex justify-center gap-4 align-middle">
      <img src="./assets/logo.svg" />
      <h1>Task Pro</h1>
    </div>
  </div>

  <p class="mb-12 text-center text-primary-black">
    Supercharge your productivity and take control of your tasks with Task Pro -
    Don't wait, start achieving your goals now!
  </p>

  <tp-button
    class="mb-4 w-full max-w-[344px]"
    link="/auth/registration"
    [color]="ButtonColor.Primary"
  >
    Registration
  </tp-button>

  <tp-button
    class="w-full max-w-[344px]"
    link="/auth/login"
    [color]="ButtonColor.Transparent"
  >
    Log In
  </tp-button>
</div>
