<div class="flex flex-col justify-center items-center min-h-screen max-w-[480px] mx-auto">
  <div class="flex flex-col mb-6">
    <img class="m-auto mb-4 md:mb-6 w-32 md:w-40" src="./assets/welcome.svg">
    <div class="flex justify-center align-middle gap-4">
      <img src="./assets/logo.svg">
      <h1>Task Pro</h1>
    </div>
  </div>

  <p class="text-center mb-12">
    Supercharge your productivity and take control of your tasks with Task Pro - Don't wait, start achieving your goals now!
  </p>

  <tp-button class="w-full max-w-[344px] mb-4" link="/auth/registration" [color]="ButtonColor.Primary">
    Registration
  </tp-button>

  <button routerLink="/auth/login">
    Log In
  </button>
</div>
