@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*:focus-visible {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.02em;
  color: white;
}

p {
  font-size: 14px;
  line-height: 18px;
}

h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.04em;
  color: #161616;

  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 60px;
  }
}

h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

h3 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

h4 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}