<header
  class="fixed left-0 top-0 flex w-screen items-center justify-between bg-primary-black px-5 py-4"
>
  <div>
    <button class="desktop:hidden" (click)="openSidebar.emit()">
      <img src="./assets/burger.svg" />
    </button>
  </div>
  <div class="flex gap-4">
    <button class="flex items-center gap-1 opacity-80">
      <h3>Theme</h3>
      <img src="./assets/chevron-down.svg" />
    </button>

    <div class="flex items-center gap-2">
      <h3>{{ user.name }}</h3>
      <img
        class="h-8 w-8 rounded-lg object-cover"
        src="https://ireland.apollo.olxcdn.com/v1/files/rafpm6f0beav1-UA/image;s=4000x3000"
      />
    </div>
  </div>
</header>
