@if (currentUser.value) {
  <tp-header
    [user]="currentUser.value"
    (openSidebar)="showSidebar = !showSidebar"
  ></tp-header>
}

<tp-sidebar
  [showSidebar]="showSidebar"
  [dashboards]="dashboards"
  [currentDashboard]="currentDashboard"
  (closeSidebar)="showSidebar = !showSidebar"
  (openDashboardModal)="openDashboardModal()"
  (changeCurrentDashboard)="onChangeCurrentDashboard($event)"
  (deleteDashboard)="onDeleteDashboard($event)"
></tp-sidebar>
<main class="relative min-h-screen pt-16">
  @if (!currentDashboard) {
    <p
      class="absolute left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 text-center text-xs text-white text-opacity-50 md:max-w-[486px] md:text-sm"
    >
      Before starting your project, it is essential
      <span class="cursor-pointer text-green" (click)="openDashboardModal()">
        to create a board
      </span>
      to visualize and track all the necessary tasks and milestones. This board
      serves as a powerful tool to organize the workflow and ensure effective
      collaboration among team members.
    </p>
  }
  @if (currentDashboard) {
    <h3 class="mb-10 mt-4">{{ currentDashboard.name }}</h3>
    <div>
      <div>

      </div>
      <tp-button>
        <div class="flex items-center justify-center gap-2">
          <span class="rounded-md bg-white p-1">
            <img src="./assets/plus.svg" />
          </span>
          <span> Add another column </span>
        </div>
      </tp-button>
    </div>
  }
</main>
