<div class="relative focus-within:[&>button]:opacity-100">
  <input
    class="w-full rounded-lg border border-solid bg-accent-black px-[18px] py-[14px] text-sm text-white opacity-40 outline-green focus:opacity-100"
    [type]="
      type === InputType.Password
        ? hidePassword
          ? type
          : InputType.Text
        : type
    "
    [placeholder]="placeholder"
    [formControl]="control"
    [class.border-danger]="control.errors && control.dirty"
    [class.border-green]="!control.errors || !control.dirty"
  />
  <button
    *ngIf="type === InputType.Password"
    type="button"
    class="absolute right-4 top-4 opacity-40"
    (click)="hidePassword = !hidePassword"
  >
    <img src="./assets/eye.svg" />
  </button>
  @if (control.dirty) {
    @for (error of control.errors | keyvalue; track error.key) {
      <span class="text-xs text-danger">{{ error.value }}</span>
    }
  }
</div>
